site_name: Starplot
site_url: https://starplot.dev
repo_url: https://github.com/steveberardi/starplot

nav:
    - Overview: index.md
    - Demo: demo.md
    - Installation: installation.md
    - Examples: examples.md
    - Reference:
        - starplot.OpticPlot: reference-opticplot.md
        - starplot.MapPlot: reference-mapplot.md
        - starplot.ZenithPlot: reference-zenithplot.md
        - starplot.SkyObject: reference-skyobject.md
        - Styling: reference-styling.md
        - Data: reference-data.md
    - Data Sources: data-sources.md
    - License: license.md
    - Coming Soon: roadmap.md

theme:
  name: material
  custom_dir: docs/custom/
  palette:
    # toggle for light mode
    - scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # toggle for dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: images/mono.png
  favicon: images/favicon.png
  features:
    - content.code.copy
    - toc.integrate
  
extra_css:
  - css/extra.css

exclude_docs: |
  custom/

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_bases: false
            docstring_section_style: list
  - macros:
      include_dir: .
      # include_dir: examples/ src/starplot/styles/ext/

markdown_extensions:
  - admonition
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true 
