matplotlib==3.7.2
numpy==1.26.2
pandas==2.0.3
pydantic==2.0.3
shapely==2.0.1
skyfield==1.46
adjustText==0.8
cartopy==0.22.0
geopandas==0.13.2
pillow==10.0.0
PyYAML==6.0.1
PyOngc==1.0.1
pyarrow==14.0.2
fastparquet==2023.10.1
