matplotlib>=3.8.0
numpy>=1.26.2
pandas<=2.2.3
pydantic>=2.10.6
shapely>=2.0.1
skyfield>=1.41
cartopy>=0.21.1
geopandas>=1.0.1
pillow>=10.0.0
PyYAML>=6.0.1
pyarrow>=14.0.2
pyogrio>=0.10.0
rtree>=1.2.0
requests>=2.31.0
duckdb>=1.4.4
ibis-framework[duckdb,geospatial]>=11.0.0
astropy-healpix>=1.1.2
sqlglot>=28.9.0
