matplotlib==3.10.8
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.7
shapely==2.1.2
skyfield==1.54
cartopy==0.25.0
geopandas==1.0.1
pillow==11.0.0
PyYAML==6.0.1
pyarrow==21.0.0
pyogrio==0.10.0
rtree==1.4.1
requests==2.31.0
duckdb==1.4.4
ibis-framework[duckdb,geospatial]==11.0.0
astropy-healpix==1.1.2
sqlglot==28.9.0
